[run]
source = youtube_parser

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    pass
    raise ImportError

omit =
    */tests/*
    */__init__.py
    */site-packages/*
    tests/*
    setup.py 